body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#graph-container {
    width: 50%; /* Make the graph container fill the box */
    height: 50%; /* Make the graph container fill the box */
}
